:root {
    /* Variables CSS actualizadas para el nuevo estilo */
    --chat-primary-color: rgb(103, 61, 230); /* Morado */
    --chat-secondary-color: #ffffff; /* Gris Claro */
    --chat-bot-bg: #F3F4F6; /* Fondo Gris Claro para mensajes del bot */
    --chat-user-bg: #EDE7F6; /* Fondo Morado Claro para mensajes del usuario */
    --chat-modal-bg: #FFFFFF; /* Blanco */
    --chat-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    --chat-border-radius: 20px; /* Más redondeado */
    --chat-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --chat-font-size: 16px;
    --chat-text-color: #333;
    --chat-bot-text-color: #070707; /* Gris Oscuro */
    --chat-user-text-color: #6A1B9A; /* Morado Oscuro */
}

.chat-embed * {
    box-sizing: border-box;
    font-family: var(--chat-font-family);
}

/* Estilos para el botón de chat flotante */
.chat-embed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--chat-primary-color);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
    font-size: var(--chat-font-size);
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilos para el modal del chat */
.chat-embed-modal {
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 90vw;
    height: 80vh;
    max-width: 400px;
    background: var(--chat-modal-bg);
    border-radius: var(--chat-border-radius);
    display: none;
    z-index: 1001;
    box-shadow: var(--chat-shadow);
    overflow: hidden;
    font-size: var(--chat-font-size);
}

.chat-embed-modal.show {
    display: block;
}

/* Estilos para el encabezado y pie de página del modal */
.chat-embed-modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--chat-primary-color);
    color: #fff !important;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: var(--chat-border-radius);
    border-top-right-radius: var(--chat-border-radius);
}


.chat-embed-modal-title {
    color: #fff !important;
    margin: 0;
}

.chat-embed-close {
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

/* Estilos para el cuerpo del modal donde aparecen los mensajes */
.chat-embed-modal-body {
    padding: 15px;
    background: var(--chat-secondary-color);
    overflow-y: auto;
    height: calc(100% - 120px); /* Ajuste dinámico para incluir header y footer */
}

/* Estilos generales para los mensajes en el chat */
.chat-embed-message {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    max-width: 95%;
    box-shadow: var(--chat-shadow);
}

.chat-embed-message.bot-message {
    background: var(--chat-bot-bg);
    color: var(--chat-bot-text-color);
    margin-right: auto;
}

.chat-embed-message.user-message {
    background: var(--chat-user-bg);
    color: var(--chat-user-text-color);
    margin-left: auto;
    text-align: right;
    flex-direction: row-reverse;
}

.chat-embed-message i {
    margin: 0 8px;
    font-size: 20px;
    color: var(--chat-primary-color);
}

.chat-embed-modal-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--chat-modal-bg);
    border-bottom-left-radius: var(--chat-border-radius);
    border-bottom-right-radius: var(--chat-border-radius);
}

/* Estilos específicos para el input de texto */
.chat-embed .chat-embed-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    background: #f9f9f9;
    margin-right: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.chat-embed .chat-embed-input:focus {
    border-color: var(--chat-primary-color);
    box-shadow: 0 0 5px rgba(106, 27, 154, 0.5);
}

.chat-embed-send-btn {
    background: var(--chat-primary-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.chat-embed-send-btn:hover {
    background: #ffffff;
    color: var(--chat-primary-color);
}

/* Personalización de la barra de desplazamiento para navegadores Webkit (Chrome, Safari, Edge) */
.chat-embed-modal-body::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.chat-embed-modal-body::-webkit-scrollbar-track {
    background: #f0f0f0; /* Color de fondo de la pista de la barra */
    border-radius: 10px; /* Bordes redondeados en la pista */
}

.chat-embed-modal-body::-webkit-scrollbar-thumb {
    background-color: #6A1B9A; /* Color de la barra de desplazamiento (pulgar) */
    border-radius: 10px; /* Bordes redondeados en la barra de desplazamiento */
    border: 2px solid #f0f0f0; /* Borde alrededor del pulgar */
}

.chat-embed-modal-body::-webkit-scrollbar-thumb:hover {
    background-color: #7E57C2; /* Color de la barra de desplazamiento al pasar el cursor */
}

/* Personalización para Firefox */
.chat-embed-modal-body {
    scrollbar-width: thin;
    scrollbar-color: #6A1B9A #f0f0f0; /* Color de la barra de desplazamiento y la pista en Firefox */
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .chat-embed-button,
    .chat-embed-send-btn {
        padding: 10px;
        font-size: 14px;
    }

    .chat-embed-modal-title {
        font-size: 14px;
    }

    .chat-embed-input {
        padding: 4px;
    }
}
