# .ebextensions/01_setup.config

packages:
    yum:
        zip: []
        libzip: []
        libzip-devel: []
        php8.2-zip: []

commands:
    01_download_composer:
        command: "curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer"
        test: "[ ! -f /usr/local/bin/composer ]"

    02_add_composer_path:
        command: "echo 'export PATH=$PATH:/usr/local/bin' >> /etc/profile.d/composer.sh"

container_commands:
    01_create_log_directory:
        command: "mkdir -p /var/log/php-fpm"
        ignoreErrors: true

    02_create_error_log:
        command: "touch /var/log/php-fpm/error.log && chown webapp:webapp /var/log/php-fpm/error.log"
        ignoreErrors: true

    03_adjust_permissions_staging:
        command: "chmod -R 775 /var/app/staging"
        ignoreErrors: true

    04_install_composer_dependencies:
        command: "/usr/local/bin/composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader"
        cwd: "/var/app/staging"
