# .ebextensions/01_setup.config

packages:
    yum:
        zip: []
        libzip: []
        libzip-devel: []
        php8.2-zip: []

commands:
    # Agregar Composer al PATH
    01_add_composer_path:
        command: "echo 'export PATH=$PATH:/home/ec2-user/.local/bin' >> /home/ec2-user/.bashrc && source /home/ec2-user/.bashrc"
        ignoreErrors: true

container_commands:
    # Crear el directorio de logs para php-fpm y el archivo error.log
    01_create_log_directory:
        command: "mkdir -p /var/log/php-fpm"
        ignoreErrors: true

    02_create_error_log:
        command: "touch /var/log/php-fpm/error.log && chown webapp:webapp /var/log/php-fpm/error.log"
        ignoreErrors: true

    # Eliminar la configuración duplicada de zip para evitar la advertencia de "Module zip is already loaded"
    03_remove_zip_extension_duplicate:
        command: "rm -f /etc/php.d/50-zip.ini"
        ignoreErrors: true

    04_verify_composer:
        command: "which composer || php -r \"copy('https://getcomposer.org/installer', 'composer-setup.php');\" && php composer-setup.php --install-dir=/usr/local/bin --filename=composer"

    # Instalar las dependencias de Composer en modo de producción y optimizar el autoloader
    05_install_composer_dependencies:
        command: "/home/ec2-user/.local/bin/composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader"
        cwd: "/var/app/staging"
        ignoreErrors: false

    # Crear el archivo de log de Laravel y ajustar permisos
    06_create_laravel_log:
        command: "touch /var/app/staging/storage/logs/laravel.log && chown ec2-user:ec2-user /var/app/staging/storage/logs/laravel.log && chmod 775 /var/app/staging/storage/logs/laravel.log"
        ignoreErrors: true

    # Configuración de permisos en staging, luego en current
    07_set_permissions_staging:
        command: "chmod -R 775 /var/app/staging/storage /var/app/staging/bootstrap/cache"
        ignoreErrors: true

    08_adjust_owner_staging:
        command: "chown -R ec2-user:ec2-user /var/app/staging/storage /var/app/staging/bootstrap/cache"
        ignoreErrors: true

    # Comandos solo si existe /var/app/current
    09_check_current_directory:
        test: "[ -d /var/app/current ]"  # Verifica si /var/app/current existe
        command: |
            chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache
            chown -R ec2-user:ec2-user /var/app/current/storage /var/app/current/bootstrap/cache
