# .ebextensions/01_setup.config

packages:
    yum:
        zip: []
        libzip: []
        libzip-devel: []
        php8.2-zip: []

commands:
    # Instalar Composer en un directorio específico si no está presente
    01_download_composer:
        command: "curl -sS https://getcomposer.org/installer | php -- --install-dir=/home/ec2-user/.local/bin --filename=composer"
        test: "[ ! -f /home/ec2-user/.local/bin/composer ]"

    # Agregar Composer al PATH
    02_add_composer_path:
        command: "echo 'export PATH=$PATH:/home/ec2-user/.local/bin' >> /home/ec2-user/.bashrc && source /home/ec2-user/.bashrc"
        ignoreErrors: true

container_commands:
    # Crear el directorio de logs para php-fpm y el archivo error.log
    01_create_log_directory:
        command: "mkdir -p /var/log/php-fpm"
        ignoreErrors: true

    02_create_error_log:
        command: "touch /var/log/php-fpm/error.log && chown webapp:webapp /var/log/php-fpm/error.log"
        ignoreErrors: true

    # Eliminar la configuración duplicada de zip para evitar la advertencia de "Module zip is already loaded"
    03_remove_zip_extension_duplicate:
        command: "rm -f /etc/php.d/50-zip.ini"
        ignoreErrors: true

    # Instalar las dependencias de Composer en modo de producción y optimizar el autoloader
    04_install_composer_dependencies:
        command: "/home/ec2-user/.local/bin/composer install --no-dev --prefer-dist --optimize-autoloader"
        cwd: "/var/app/staging"
        ignoreErrors: false

    # Crear el archivo de log de Laravel y ajustar permisos
    05_create_laravel_log:
        command: "touch /var/app/staging/storage/logs/laravel.log && chown ec2-user:ec2-user /var/app/staging/storage/logs/laravel.log && chmod 775 /var/app/staging/storage/logs/laravel.log"
        ignoreErrors: true

    # Establecer permisos en los directorios de almacenamiento y cache de Laravel
    06_set_permissions_storage:
        command: "chmod -R 775 /var/app/staging/storage /var/app/staging/bootstrap/cache"
        ignoreErrors: true

    07_adjust_owner_storage:
        command: "chown -R ec2-user:ec2-user /var/app/staging/storage /var/app/staging/bootstrap/cache"
        ignoreErrors: true

    # Ajuste de permisos y propietario para el entorno actual de producción
    08_set_permissions_current:
        command: "chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache"
        ignoreErrors: true

    09_adjust_owner_current:
        command: "chown -R ec2-user:ec2-user /var/app/current/storage /var/app/current/bootstrap/cache"
        ignoreErrors: true
